.myPets {
  margin: 0 auto;
  max-width: 1200px;
}
.header {
  text-align: center;
  color: darkslategrey;
}

.adoptContainer {
  text-align: center;
  align-items: center;
  background-color: rgb(85, 124, 250);
}