.footer {
  background-color: #11332ea4;
  color: beige;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer h5 {
  margin: 0 20px;
}
