html{
  background: rgb(95,167,57);
  background: linear-gradient(159deg, rgba(95,167,57,1) 0%, rgba(168,218,48,1) 42%, rgba(149,193,42,1) 100%);
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}
body{
  margin: 80px 0;
  min-height: 100vh;
  /* margin-bottom: 50px; */
  /* box-sizing: border-box; */
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}