html{
  background: rgb(194, 230, 175);
  /* background: linear-gradient(159deg, rgba(95,167,57,1) 0%, rgba(168,218,48,1) 42%, rgba(149,193,42,1) 100%); */
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}
body{
  margin: 80px 0;
  min-height: 100vh;
  /* margin-bottom: 50px; */
  /* box-sizing: border-box; */
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: rgb(206, 205, 205);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 148, 148);
}