.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  background-color: #11332ea4;
}
.navLinks{
  text-decoration: none;
  color: beige;
}
.navLogo {
  margin-left: 20px;
}
/* .navItems {
} */
.navItems ul {
  list-style: none;
  display: flex;
}
.navItems ul li {
  margin-right: 20px;
  text-decoration: none;
}
.adopt {
  color: rgb(191, 255, 107);
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
